<!DOCTYPE html>
<html>
<head>
<title>{{ title }} - THIS IS A CHANGE Page</title>
</head>
<h1>{{ title }} HELLO CHANGE Page</h1>
<br>
<h2> {{code}} </h2>
<br>
<h3>Your rap name is: {{name.text}}</h3>
<br>
<div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
	    {{ form.first_name.label}}
	    {{ form.first_name }}
	    <br>
	    {{ form.last_name.label }}
	    {{ form.last_name }}
	    <br>
                <div class='form_group'>
                {{ form.submit }}
            </div
        </form>
</html>
